
<form action="" #userform="ngForm"> 
    
<div class="container-flex">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="userobj.name" name="userobj.name" required>
</div>
<div class="form-group">
    <label for="job">Job</label>
    <input type="text" class="form-control" id="job" [(ngModel)]="userobj.job" name="userobj.job" required>
        
</div>

 <button mat-raised-button color="primary" id="formsubmit"(click)="submit();userform.reset()">Submit</button>
 
</div>   
</form> 